@*Assign model to page for sending data and verifying data*@
@model Reserveer.Models.RoomInfo;

<script type="text/javascript">
    $(document).ready(function () { 

        //Assign the Json values that you get from the groupsadmin controller to a new array
        RoomProfileInfoArray = new Array();
        RoomProfileInfoArray = @Html.Raw(ViewData["results"]);

        RoomReservationsArray = new Array();
        RoomReservationsArray = @Html.Raw(ViewData["results2"]);

        CurrentRoomSensorArray = new Array();
        CurrentRoomSensorArray = @Html.Raw(ViewData["results3"]);

        AvailableRoomSensorArray = new Array();
        AvailableRoomSensorArray = @Html.Raw(ViewData["results4"]);

        LatestTempArray = new Array();
        LatestTempArray = @Html.Raw(ViewData["temp"]);

        //Checks if theres a LatestTemp present and shows the Latesttemp by appending it to a div with the id LTemp
        if (LatestTempArray.length >= 1) {
            $("#LTemp").append(

                '<div class="caption"><div class="col-sm-6">' + LatestTempArray[1] + '</div><div class="col-sm-6">' + LatestTempArray[0] + '</div></div>'
            );
        }

        //Checks if there is currently a sensor connected to the current room and add it to dropdownbox and show in text what sensor is assigned
        if (CurrentRoomSensorArray.length >= 1) {
            //if there is any already assigned raspberry assign it first in the dropdownbox
            $.each(CurrentRoomSensorArray, function (key, value) {

                $('#sel1')
                    .append($("<option></option>")
                        .attr("value", value[0])
                        .text("SensorID: " + value[0] + " | MAC: " + value[1] + " | ASSIGNED"));
            });

            $('#assignedIV').text("assigned sensorID: " + CurrentRoomSensorArray[0][0]);
            $('#CurrentSensorID').val(CurrentRoomSensorArray[0][0]);
        } else {
            //this is used for updating a rooms sensor
            //here i assign new to the id CurrentSensorID
            //this means there isnt a sensor assigned already
            $('#CurrentSensorID').val("New");
            //this is the text the user gets shown
            $('#assignedIV').text("not assigned");
        }


        //Checks if there is 1 or more unassigned Room Sensors available and add all avaible sensors to the dropdownbox
        if (AvailableRoomSensorArray.length >= 1) { 
            $.each(AvailableRoomSensorArray, function (key, value) {
                //for each avaible sensor add it to the dropdownbox with these values
                $('#sel1')
                    .append($("<option></option>")
                        .attr("value", value[0])
                        .text("SensorID: " + value[0] + " | MAC: " + value[1]));
            });
        }
        
        //Add room information to the right inputbox
        $('#RoomNameI').val(RoomProfileInfoArray[0][0]);
        $('#RoomNumberI').val(RoomProfileInfoArray[0][3]);
        $('#RoomFloorI').val(RoomProfileInfoArray[0][1]);
        $('#RoomFacilityI').val(RoomProfileInfoArray[0][4]);
        $('#RoomCommentI').val(RoomProfileInfoArray[0][5]);
        $('#RoomIDI').val(RoomProfileInfoArray[0][6]);
        $('#RoomIDISensor').val(RoomProfileInfoArray[0][6]);
        $('#NHidden').val(RoomProfileInfoArray[0][6]);
        $('#title').text(RoomProfileInfoArray[0][0]);


        //Append a button so you will get redirected to room Schedule
        $("#collapse3").append(
            '<a href="https://localhost:44366/schedule?RoomId=' + RoomProfileInfoArray[0][6] + '" class="btn btn-lg btn-primary  center-block" role="button">Schedule</a>'
        )

        //Append all the roomreservations to the page
        var arrayLength = RoomReservationsArray.length;
        for (var i = 0; i < arrayLength; i++) {
            $("#collapse3").append(

                '<div class="row thumbnail" style="margin-right: 15px; margin-left: 15px;"><div id="' + RoomReservationsArray[i][5] + '" class="caption"><div class="col-sm-3">' + RoomReservationsArray[i][0] + '</div> <div class="col-sm-3">' + RoomReservationsArray[i][1] + ' - ' + RoomReservationsArray[i][2] + '</div><div class="col-sm-3">' + RoomReservationsArray[i][3] + '</div><div class="col-sm-2"><a href="DeleteReservation?reservationId=' + RoomReservationsArray[i][5] + '&groupId=' + RoomReservationsArray[i][6] +'" class=" btn btn-sm btn-danger btn-block  center-block">DELETE</a></div></div></div>'
            );
        }

         
    });

</script> 

<h1 class="text-center">Room : <span id="title"></span></h1>
<a class="btn btn-lg btn-danger ReturnButton" href="javascript:history.go(-1)" role="button" onclick="this.form.submit(); this.disabled = true;">Return</a> 

<div class="panel-group" id="Group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default opacityWhitebg">
        <div class="panel-heading themeBGColor cwhite" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#Group" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Room Info
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in " style="padding:40px;" role="tabpanel" aria-labelledby="headingOne">
            <form asp-action="UpdateRoom">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group ">
                            <span class="input-group-addon" id="basic-addon1">Room name </span>
                            <input id="RoomNameI" asp-for="RoomName" placeholder="Room Name" maxlength="20" class="form-control" required>
                            <input type="hidden" id="RoomIDI" asp-for="RoomID" hidden class="form-control" />
                            <span asp-validation-for="RoomName" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="input-group ">
                            <span class="input-group-addon" id="basic-addon1">Room Number</span>
                            <input id="RoomNumberI" asp-for="RoomNumber" pattern="[0-9]{1,}" title="Only numbers allowed" placeholder="Room Number" maxlength="5" class="form-control" required>
                            <span asp-validation-for="RoomNumber" class="text-danger"></span>
                        </div>

                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group ">
                            <span class="input-group-addon" id="basic-addon1">Room Floor </span>
                            <input id="RoomFloorI" asp-for="RoomFloor" pattern="[0-9]{1,}" title="Only numbers allowed" placeholder="Room Floor" maxlength="5" class="form-control" required>
                            <span asp-validation-for="RoomFloor" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="input-group ">
                            <span class="input-group-addon" id="basic-addon1">Room Facility</span>
                            <input id="RoomFacilityI" asp-for="RoomFacility" placeholder="Room Facility" maxlength="30" class="form-control" required>
                            <span asp-validation-for="RoomFacility" class="text-danger"></span>
                        </div>

                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Comment</span>
                            <textarea id="RoomCommentI" asp-for="RoomComment" Facility class="form-control" rows="3"></textarea>
                            <span asp-validation-for="RoomComment" class="text-danger"></span>
                        </div>

                    </div>

                </div>

                <div class="row">
                    <input type="submit" value="Update" class="btn btn-lg btn-primary center-block" style="margin-top:10px;">

                </div>
            </form>
        </div>
    </div>
</div>


<div class="panel-group" id="Domains" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default opacityWhitebg">
        <div class="panel-heading themeBGColor cwhite" role="tab" id="heading2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#Domains" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    InfoViews <span id="assignedIV"></span>
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in " style="padding:20px;" role="tabpanel" aria-labelledby="heading2">
            <form asp-action="UpdateRoomSensor">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group ">
                            <span class="input-group-addon" id="basic-addon1">Room ID </span>
                            <input id="NHidden" class="form-control" disabled />
                            <input id="RoomIDISensor" asp-for="RoomIDSensor" class="form-control" type="hidden" />
                            <input id="CurrentSensorID" asp-for="CurrentSensorID" class="form-control" type="hidden" />
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <select class="form-control" id="sel1" asp-for="SensorID">
                                <option value="Default">Available InfoViews</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-1">
                        <input type="submit" value="Update" class="btn btn-sm btn-primary" onclick="this.form.submit(); this.disabled = true;" style="">
                    </div>

                </div>
                <hr />
                <div id="LTemp" class="row thumbnail" style="margin-right: 15px; margin-left: 15px;">

                    <div class="caption">
                        <div class="col-sm-6">
                            TimeStamp
                        </div>
                        <div class="col-sm-6">
                            Tempature Value
                        </div>
                    </div>

                </div>
            </form>


        </div>
    </div>
</div>


<div class="panel-group" id="Rooms" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default opacityWhitebg">
        <div class="panel-heading themeBGColor cwhite" role="tab" id="heading3">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#Rooms" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    Room Reservation
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse out " style="padding:20px;" role="tabpanel" aria-labelledby="heading3"> 
            <br />

            <div class="row thumbnail" style="margin-right: 15px; margin-left: 15px;">
                <div class="caption">
                    <div class="col-sm-3">
                        USERNAME
                    </div>
                    <div class="col-sm-3">
                        Reservation Time
                    </div>
                    <div class="col-sm-3">
                        Reservation Date
                    </div>
                    <div class="col-sm-3">
                        Room Number
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>