@model User
@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.verified != null)
{
    if (ViewBag.verified == true)
    {
        string msg = "You have successfully registered your account, you now can log in.";
        @Html.Raw(msg);
    }
    else if (ViewBag.verified == false)
    {
        string msg = "Something went terribly wrong. Please try again later.";
        @Html.Raw(msg);
    }

}

<div class="jumbotron Whitebg" style="margin-top:20px;">
    <div id="validationmsg"></div>
    <h1 class="display-4 text-info">InfoViews!</h1>
    <p class="lead">The Application designed for quickly creating reservations for rooms around the school.</p>
    <hr class="my-4">
    <p>Are you a new user? Register here!</p>
    <p class="lead">
        <a class="btn btn-info btn-lg themeBGColor" href="Home/Registration" role="button">Register Now</a>
    </p>
</div>
<br>

<div class="opacityWhitebg form-signin" style="border-radius:10px;">
    <h1 class="h3 mb-3 font-weight-normal text-center">Sign in for <span class="themeColor">InfoViews</span></h1>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details.");
        <div>
            <fieldset>
                <div>@Html.LabelFor(u => u.user_mail)</div>

                <div>
                    @Html.TextBoxFor(u => u.user_mail, new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(u => u.user_mail)
                </div>

                <div>@Html.LabelFor(u => u.user_password)</div>

                <div>
                    @Html.PasswordFor(u => u.user_password, new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(u => u.user_password)
                </div>
                <input class="btn btn-info btn-lg themeBGColor" type="submit" value="Log In" />

            </fieldset>
        </div>
    }
</div>

