@model User
@{
    ViewData["Title"] = "Home Page";
}
<!--Looks if the Viewbag has a value-->
@if (ViewBag.verified != null)
{
    if (ViewBag.verified == true)
    {
        string msg = "<div class='jumbotron Whitebg' style='margin - top:20px; '>You have successfully registered your account, you now can log in.</div>";
        @Html.Raw(msg);
    }
    else if (ViewBag.verified == false)
    {
        string msg = "<div class='jumbotron Whitebg' style='margin - top:20px; '>Something went terribly wrong. Please try again later.</div>";
        @Html.Raw(msg);
    }
}
<!--Looks if TempData has a value  to show a message-->
@if (TempData["verification_allowed"] != null)
{
    if (TempData["verification_allowed"].ToString() == "true")
    {
        string msg = "<div class='jumbotron Whitebg' style='margin - top:20px; '>Please check your mailbox for the verification email message.</div>";
        @Html.Raw(msg);

    }

}

<div class="jumbotron Whitebg" style="margin-top:20px;">
    <div id="validationmsg"></div>
    <h1 class="display-4 text-info">InfoViews!</h1>
    <p class="lead">The Application designed for quickly creating reservations for rooms around the school.</p>
    <hr class="my-4">
    <p>Are you a new user? Register here!</p>
    <p class="lead">
        <a class="btn btn-info btn-lg themeBGColor" href="../../Home/Registration" role="button">Register Now</a>
    </p>
</div>
<br>

<div class="opacityWhitebg form-signin" style="border-radius:10px;">
    <h1 class="h3 mb-3 font-weight-normal text-center">Sign in for <span class="themeColor">InfoViews</span></h1>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details.");
        <div>
            <fieldset>
                <div>@Html.LabelFor(u => u.user_mail)</div>

                <div>
                    @Html.TextBoxFor(u => u.user_mail, new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(u => u.user_mail)
                </div>

                <div>@Html.LabelFor(u => u.user_password)</div>

                <div>
                    @Html.PasswordFor(u => u.user_password, new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(u => u.user_password)
                </div>
                <input class="btn btn-info btn-lg themeBGColor" type="submit" onclick="this.form.submit(); this.disabled = true; " value="Log In" />

            </fieldset>
        </div>
    }
</div>

